@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#__nuxt,
body,
html {
  height: 100%;
}

.food {
  box-shadow: 0 0 0 4px #43d9ad40, 0 0 0 8px #43d9ad10;
}

.tile {
  position: relative;
  width: 8px;
  height: 8px;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.router-link-active.page-route {
  border-bottom: 3px solid #fea55f;
}

.router-link-active.section-item-link {
  @apply opacity-100;
}
